body {
	background: black;
	color: white
}

#navigation li {
	font-weight: bold;
	background:#703005;
}

#navigation li.active, #navigation li.active:hover {
	background:white;
	color: black;
	cursor:default;
}

#navigation li:hover {
	background:#d0c000;
}

#navigation a {
	text-decoration:none;
	color: white;
}

#container, #content {
	background:white;
	color:black;
}
