* {
	margin:0;
	padding:0;
}

#header {
	width:800px;
	height:240px;
	overflow:hidden;
	text-align:center;
	margin: 0px auto;
}

#navigation {
	width:800px;
	margin: 1em auto 0 auto;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#navigation li {
	list-style:none;
	margin-right:3px;
	padding:.5em 1.5em;
	text-align:left;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	float:left;
}

div.left {
	float:left;
}
div.right {
	float:right;
}
div.clearer{
	clear:both;
}

h1,h2,h3,h4,h5 {
	margin: 1em 0;
}

#container {
	width:900px;
	margin: 0px auto;
	border-radius:10px;
	margin: 0px auto;
}

#content {
	width:50em;
	min-height:300px;
	margin: 0px auto;
	padding:.5em;
}

#content p {
	text-align:justify;
	padding-bottom:.75em;
	hyphens: auto;
}

#content p + p {
	text-indent: 1em;
}
