## Tonegenerator harmonics
## Sawtooth wave
##
## Place
##
##   config.read=osc-sawtooth.cfg
##
## on the commandline or in a configuration file to have setBfree read
## this file on startup.
##
osc.harmonic.1=1.0
osc.harmonic.2=0.5
osc.harmonic.3=0.333333333333
osc.harmonic.4=0.25
osc.harmonic.5=0.2
osc.harmonic.6=0.166666666666
osc.harmonic.7=0.142857142857
osc.harmonic.8=0.125
osc.harmonic.9=0.111111111111
osc.harmonic.10=0.1
osc.harmonic.11=0.090909090909
