## Tonegenerator equalisation
## Exaggerated mid-range.
##
## Place
##
##   config.read=osc-middy.cfg
##
## on the commandline or in a configuration file to have setBfree read
## this file on startup.
##
## For a graphical representation of the tonegenerator's relative level,
## place
##
##   osc.psdump=<filename>
##
## on the commandline or in a configuration file.
##
osc.eq.p1y=0.5
osc.eq.r1y= 2
osc.eq.p4y=0.5
osc.eq.r4y=-2
