## Tonegenerator harmonics
## Experimental wave
##
## Place
##
##   config.read=osc-xwave.cfg
##
## on the commandline or in a configuration file to have setBfree read
## this file on startup.
##
osc.harmonic.1=1.0
osc.harmonic.2=-0.5
#osc.harmonic.3=0.275
osc.harmonic.4=0.25
#osc.harmonic.5=0.04
osc.harmonic.6=0.16666666666666
#osc.harmonic.7=0.02040816326530612
osc.harmonic.8=0.0125
#osc.harmonic.9=0.012345679012345678
osc.harmonic.10=0.01
#osc.harmonic.11=0.008264462809917356
