## Tonegenerator harmonics
## No crosstalk
##
## Place
##
##   config.read=osc-noxtalk.cfg
##
## on the commandline or in a configuration file to have setBfree read
## this file on startup.
##
osc.compartment-crosstalk=0.0
osc.transformer-crosstalk=0.0
osc.terminalstrip-crosstalk=0.0
osc.wiring-crosstalk=0.0
osc.contribution-floor=0.0
osc.contribution-min=0.0
