##
## Mellow horn setting (these setting are identical to the defaults)
##
whirl.horn.filter.a.type=0
whirl.horn.filter.a.hz=4500
whirl.horn.filter.a.q=2.7456
whirl.horn.filter.a.gain=-30
##
whirl.horn.filter.b.type=7
whirl.horn.filter.b.hz=300
whirl.horn.filter.b.q=1
whirl.horn.filter.b.gain=-30
##
