##
## Sharp whirl setting. This was the default for several months.
##
whirl.horn.filter.a.type=0
whirl.horn.filter.a.hz=3900
whirl.horn.filter.a.q=1.4
whirl.horn.filter.a.gain=0
##
whirl.horn.filter.b.type=7
whirl.horn.filter.b.hz=300
whirl.horn.filter.b.q=2.0
whirl.horn.filter.b.gain=-60
##
