*.swp
*.o
tags
cscope.files
cscope.out

*.blend1
*.blend2

/b_*/*.so
/b_*/*.dylib

# binaries
/src/setBfree
/src/configd
/src/programd
/vb3kb/vb3kb
/b_overdrive/jboverdrive
/b_overdrive/overmaker

# generated LV2 metadata
/b_overdrive/manifest.ttl
/b_whirl/manifest.ttl
/b_reverb/manifest.ttl
/b_synth/manifest.ttl
/b_synth/manifest.ttl
/b_synth/b_synth.ttl

/*.tar.gz
/doc/html
/site
