*.swp
*.o
tags
cscope.files
cscope.out

*.blend1
*.blend2

/b_*/*.so
b_*/*.dll
*.dylib
*.plist
DWARF
.DS_STORE

# binaries
/src/setBfree
/src/setBfree.exe
/src/configd
/src/programd
/ui/setBfreeUI
/ui/setBfreeUI.exe
/b_overdrive/jboverdrive
/b_overdrive/overmaker

# generated LV2 metadata
/b_overdrive/manifest.ttl
/b_overdrive/b_overdrive.ttl
/b_whirl/manifest.ttl
/b_whirl/b_whirl-configurable.ttl
/b_whirl/b_whirl.ttl
/b_whirl/x42-whirl
/b_whirl/x42-whirl.exe
/b_reverb/manifest.ttl
/b_reverb/b_reverb.ttl
/b_synth/manifest.ttl
/b_synth/manifest.ttl
/b_synth/b_synth.ttl

# generated xxd/font
/b_synth/verabd.h

/*.tar.gz
/doc/html
/site

