Source: setbfree
Section: sound
Priority: optional
Maintainer: Robin Gareus <robin@gareus.org>
Build-Depends: debhelper (>= 8), dpkg-dev (>= 1.16.1~),
 libasound2-dev,
 libftgl-dev,
 libglu1-mesa-dev | libglu-dev,
 libjack-dev | libjack-jackd2-dev,
 liblo-dev,
 libsndfile1-dev,
 libzita-convolver-dev (>=3.1.0),
 libx11-dev,
 lv2-dev (>=1.0.0~dfsg2-2),
 tcl-dev,
 tk-dev,
 ttf-bitstream-vera
Homepage: http://setbfree.org
Standards-Version: 3.9.3

Package: setbfree
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 ttf-bitstream-vera
Description: DSP tonewheel organ
 setBfree is a MIDI-controlled, software synthesizer designed to imitate
 the sound and properties of the electromechanical organs and sound
 modification devices that brought world-wide fame to the names and
 products of Laurens Hammond and Don Leslie.
