#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_build:
	$(MAKE) \
		OPTIMIZATIONS="$(CFLAGS)" \
		LDFLAGS="-Wl,--as-needed $(LDFLAGS)" \
		PREFIX=/usr

override_dh_auto_install:
	$(MAKE) install \
		DESTDIR=$(CURDIR)/debian/setbfree \
		PREFIX=/usr
	install -d $(CURDIR)/debian/setbfree/usr/share/applications
	install -m 644 $(CURDIR)/debian/setbfree.desktop \
		$(CURDIR)/debian/setbfree/usr/share/applications/
	install -m 644 $(CURDIR)/debian/x42-whirl.desktop \
		$(CURDIR)/debian/setbfree/usr/share/applications/
	install -d $(CURDIR)/debian/setbfree/usr/share/pixmaps/
	install -m 644 $(CURDIR)/doc/setBfree.png \
		$(CURDIR)/debian/setbfree/usr/share/pixmaps/
	install -m 644 $(CURDIR)/doc/x42-whirl.png \
		$(CURDIR)/debian/setbfree/usr/share/pixmaps/

override_dh_auto_clean:

