[Desktop Entry]
Type=Application
Name=setBfree
GenericName=DSP tonewheel organ
Comment=MIDI-controlled, software synthesizer using JACK
Icon=setBfree
Exec=setBfreeUI
Terminal=false
Categories=AudioVideo;Audio;
