---
menuitems:
  - title: About
    link: index.html
  - title: Download
    link: download.html
  - title: Samples &amp; Screenshots
    link: samples.html
  - title: Tutorial
    link: tutorial.html
  - title: Documentation
    link: doc.html
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head><meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>setBfree{% if page.title %}: {{ page.title }}{% endif %}</title>
	<link rel="shortcut icon" href="{{ site.url }}images/favicon.ico" />
	<link href="{{ site.url }}css/layout.css" rel="stylesheet" />
	<link href="{{ site.url }}css/design.css" rel="stylesheet" />
	<meta name="keywords" content="setBfree, tonewheel, organ, LV2, synth, B3{% if page.meta_keywords %}, {{ page.meta_keywords }}{% endif %}" />
	<meta name="description" content="setBfree DSP tonewheel organ, a hammond b3 emulator" />
</head>
<body>
	<div id="header">
		<img src="images/setBfree.jpg" alt="setBfree banner"/>
	</div>
	<div id="navigation">
		<ul>
			{% for item in page.menuitems %}
			{% if page.title == item.title %}<li class ="active">{{ item.title }}{% else %}<li><a href="{{ site.url }}{{ item.link }}">{{ item.title }}</a>{% endif %}</li>
			{% endfor %}
		</ul>
		<div class="clearer"></div>
	</div>
	<div id="container"><div id="content">
{{ content }}
	</div></div>
	</body>
</html>
